### Yearly Period

In [1]:
import pandas as pd
y = pd.Period('2016')
y

#A-DEC means period which is Annual Ending in December

Period('2016', 'A-DEC')

In [3]:
y.start_time # January

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time  # December

Timestamp('2016-12-31 23:59:59.999999999')

In [6]:
y.is_leap_year

True

### Monthly Period

In [8]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [9]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [10]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [11]:
m+1 # adding month

Period('2018-01', 'M')

### Daily Period

In [13]:
d = pd.Period('2017-12-01')
d

Period('2017-12-01', 'D')

In [14]:
d.start_time

Timestamp('2017-12-01 00:00:00')

In [15]:
d.end_time

Timestamp('2017-12-01 23:59:59.999999999')

In [16]:
d+1

Period('2017-12-02', 'D')

### Hourly Period

In [17]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [18]:
h+1

Period('2017-08-16 00:00', 'H')

##### Achieve same results using pandas offsets hour

In [19]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

### Quarterly Period

In [21]:
q1 = pd.Period('2017Q1', freq='Q-Jan') # fiscal year ending at Jan. So its Feb-Jan calendar
q1

Period('2017Q1', 'Q-JAN')

In [23]:
q1.start_time # financial year starting at Feb

Timestamp('2016-02-01 00:00:00')

In [24]:
q1.end_time # financial year Ending at Jan

Timestamp('2016-04-30 23:59:59.999999999')

In [27]:
q2 = pd.Period('2018Q2', freq='Q-Jan') 
q2

Period('2018Q2', 'Q-JAN')

In [29]:
q2-q1 # there are 5 quater in between s

5

##### Use asfreq to convert period to a different frequency

In [25]:
q1.asfreq('M', how='start')

Period('2016-02', 'M')

In [26]:
q1.asfreq('M', how='end')

Period('2016-04', 'M')

### Weekly Period

In [31]:
w = pd.Period('2017-07-05',freq='W') # W-SUN as week holiday
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [32]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [33]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [34]:
w2-w

6

### PeriodIndex and period_range

In [35]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [39]:
r.start_time

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [38]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [40]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [41]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [43]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [44]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [45]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]', freq='3M')

In [ ]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

#### Partial Indexing

In [ ]:
ps['2016']

In [ ]:
ps['2016':'2017']

##### Converting between representations

In [ ]:
pst = ps.to_timestamp() # converting index to timestamp
pst

In [ ]:
pst.index

In [ ]:
ps = pst.to_period() # converting index to PeriodIndex from timestamp
ps

In [ ]:
pst.index

### Processing Wal Mart's Financials

In [72]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [73]:
df.set_index("Line Item",inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [74]:
df = df.T # Transpose : convert rows into column and column into rows
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [79]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN') # to convert the index into PeriodIndex type
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [81]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

In [83]:
df['Start Time'] = df.index.map(lambda x: x.start_time) # assign start time 
df

Line Item  Revenue  Expenses  Profit Start Time
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [84]:
df['End Date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Time   End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30